extends layout

block content
	.container
		#table-container
			table#assets.ui.celled.table.striped
				thead
					tr
						th Asset Name
						th Asset Tag
				tbody
				each val in userAssets
					tr
						td= val.name
						td= val.asset_tag