body #container {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  white-space: nowrap;
  min-height: 100.7%;
  min-width: 100%;

  background: #00416A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* LOGIN PAGE */
#logo-maintext {
  padding-top: 9%;
  letter-spacing: 1rem;
  font-size: 4.3rem;
}

#logo-subtext {
  margin-top: -1%;
  font-size: 1.50rem;
  letter-spacing: 0.33rem;
  padding-bottom: 5%;
}

#header-text .header {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#login-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

#login-button {
  width: 600px;
  font-size: 2rem
}

#google-icon {
margin-right: 30px;
}

.footer {
  position: fixed;
  width: 100%;
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

#footer-center {
  left: 0px;
  bottom: 10px;
  text-align: center;
}

#footer-right {
  right: 10px;
  bottom: 10px;
  width: 100%;
  text-align: right;
  font-size: 2rem
}

#table-container {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
  }